

:root {
  /* Colors */

  --background-color: linear-gradient(rgb(111, 77, 248), rgb(160, 97, 255));
  --color-text: #fff;
  --h2-color: rgb(0, 0, 0);

  /* height and width of screen */

  --Width-full: 100%;

  /* fonts-Families */

  --font-family1: "Paytone One", sans-serif;
  --font-family2: "Poppins", sans-serif;
  --font-family3: "Roboto", sans-serif;
}

/* Footer section - Start */

footer {
  color: rgb(255, 255, 255);
 
}
.footer-container {
 
  background-size: 100% 100%;
  background: rgb(19, 150, 202);
  background: linear-gradient(rgb(102, 163, 244),rgb(115, 204, 255));
  background-size: 100% 100%;
  min-height: 50vh;
  width: var(--Width-full);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  box-shadow: -4px 0  10px;
  font-family: Arial, sans-serif;
  animation: footeranimation 10s  infinite  alternate;
  position: relative;

  z-index:300;
}

.footer-container h2 {
  color: rgb(0, 0, 0);
font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 0 30px 0;
  position: relative;
  left: -10px;
  transition: 0.3s;
  animation: tst 1s ease 1;
  cursor: pointer;
}
@keyframes tst {
  0% {
    transform: translateX(-23vh) scale(0.4);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

.footer-container h2:hover {
  color: rgb(59, 50, 64);
}
.footer-container h2:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: white;
  height: 3px;

  border-radius: 10px;
  margin-bottom: 10x;
  animation: lineef 10s alternate linear infinite;
}

@keyframes lineef {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
.footer-container .child {
  min-width: 10vw;
  height: 50vh;
  text-align: justify;
  padding: 10px;
  transition: 0.3s;
  animation: tst 1.5s ease 1;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin: 1px;
  position: relative;
}
.footer-container .child p:hover {
  color: #0c0813;
}

.footer-container .ch1 {

  width:20vw;
  height: 50vh;

}

.footer-container .ch1 ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

.footer-container ul li {
  list-style: none;
  margin-bottom: 35px;
}
.footer-container ul li i {
  font-size: 1.8rem;
  transition: 0.2s;
}

.footer-container p {
  text-align: left;
  color: white;
}

.footer-container ul li a {
  text-decoration: none;
  color: white;
}

.ch4 li i {
  font-size: 1.6rem;
}

.ch1 ul li a {
  background: rgb(150, 102, 253);
  height: 7vh;
  width: 4vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 5px;
}

.ch1 ul li .ftiy :hover {
  color: red;
  background: white;
  height: 100%;
  width: 100%;
}

.ch2,
.ch3 {
  position: relative;
  left:50px;
}

.ch4 p {
  display: inline;
  margin-left: 10px;
  font-size: 1rem;
  font-family: sans-serif;
}

.ch4 textarea{
  background:rgb(255, 255, 255);
  border-radius: 5px;
  max-width:fit-content;
  max-height: 50vh;
  position: absolute;
  bottom:-50px;
  padding:10px;
  font-size:.8rem;
  z-index: 34;
}
.ch4 .subm{
  background:linear-gradient(50deg,rgb(67, 36, 188),rgb(66, 60, 177));
  color: rgb(250, 250, 250);
  font-size: 1.2rem;
height: 6vh;
width: 15vw;
cursor: pointer;

border-radius: 10px;
  position: absolute;
  left:25px;
  bottom:-120px;  
  border: none;
}
.footer-container ul li a:hover {
  color: rgb(131, 213, 254);
}
.ch4 .subm:active{
  border: 2px solid gray;
 
}
.ch4 li:hover{
color:rgb(254, 130, 254);
}
.ch1{
  line-height: 2vw;
}

iframe {
  height: 40vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  left: -20px;
  bottom: -20px;

}

.footer-bottom {
  color: white;
  cursor: pointer;
}

.method {
  width: 800px;
  padding: 0 100px;
}
.method ul li img{
  height: 13vh;
}

/* Footer section - Start */

/* mediaquery section  */

/* navigationbar */

/* navigationbar end */

h2:hover{
  color: black;
}