
  @import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

  :root{
    --Font: 'Paytone One', sans-serif;
    --font-family-1: 'Poppins', sans-serif;
  }

  *{
    font-family: var(--font-family-1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }



  nav ul li .act::after{
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    top: 110%;
    left: 0;
    background-color: rgb(178, 18, 206);
    transition: .2s;
    
  }

  main{
height: 100%;
margin: 80px 0 0px 0;
position: relative;
bottom: -33px;
  }

  .text{
    height: 30vh;
    margin-top: 20px;
  }
  main  h1{
    font-weight: 600;
    margin-bottom: 20px;
    position: absolute;
    
    
  }

 .formcontainer form{
height: 50vh;
width:40vw;

display: flex;
flex-direction: column;
margin-bottom:40px;

  }

  .formcontainer form input{
    color: rgb(58, 55, 55);
    min-height: 8vh;
    width: 100%;

    margin: 20px 0;
 border: none;
 padding: 15px;
    border-radius: 5px;
    background-color: white;

    transition: .3s;
  }

  input:focus{
    border: 1px inset  rgb(9, 9, 75);
  }

  input:hover{
    background-color: rgb(231, 230, 230);
    box-shadow: 0 0 6px rgb(204, 204, 204);
  }

form textarea{
    padding: 15px;
    width: 100%;
}

  /* main section  */


  
  .container {
    max-width:100%;
    height:100vh;
    margin: 10px auto;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
background-color: rgb(198, 250, 250);
    justify-content: space-around;
    align-items: center;
  }
  .container p{
    width: 40vw;
    position: relative;
    top: -130px;

  }
.topic{
    text-align: center;
    font-size: 2.5rem;
    position: inherit;
position: relative;

    color: #000000;
    margin-top: 20px;
    margin-bottom: 80px;
  }
  
  .topic i{
    color: rgb(0, 0, 0);
    background: rgb(190, 190, 190);
    height: 60px;
    width: 60px;
    padding: 10px;
    position: relative;
    right: 20px;
  
  }
  

  .formcontainer form {

    display: flex;
    flex-direction: column;
    margin-top: 1%;
    
  }
  
  .formcontainer .form-group {
    margin-bottom: 20px;
  }
  

  
  .formcontainer input,
  textarea {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px;
  }



  .formcontainer textarea{
    height: 200%;
  }

  form button {
    padding: 10px 20px;
    height:10vh;
    font-size: 1.2rem;

    background-color: #2b86e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position:relative;
    bottom: -90px;
    font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .ourcontacts li{
    list-style: none;
  }
  .ourcontacts li i {

    font-size: 1.6rem; 
    background: rgb(82, 82, 239);
    color: white;
    height:50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-self: center; 
    padding: 10px;
    border-radius: 50%;
    




  }
  .ourcontacts li i:hover {
    font-size: 2rem;

  }
  .ourcontacts li p{
    position: relative;
    left:58px;
    top: -36px;
  }

  .ourcontacts{

    width: 20vw;
    position:absolute;
    right:380px;
    bottom: 90px;


  }
  


  